<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">


{% comment %}
  ========================================
  Navigation by:  Prita Hasjim
                  hello@pritahasjim.com
                  www.pritahasjim.com
      -  let's work together :)  -
  ========================================
{% endcomment %}

{% comment %} -- start navigation menu code -- {% endcomment %}

<!-- Social Icons -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<!-- Adobe Fonts-->
<link rel="preload" href="https://use.typekit.net/byf5spa.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<!-- Fallback for browsers with JavaScript disabled -->
<noscript>
  <link rel="stylesheet" href="https://use.typekit.net/byf5spa.css" />
</noscript>
<link rel="stylesheet" href="https://use.typekit.net/byf5spa.css" />

<!-- Google Material -->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</noscript>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<style>
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v250/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2) format('woff2');
    font-display: block; /* or auto to block text flicker */
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  }

  .material-symbols-outlined.icon-hidden {
    color: #fafafa;
    transition: all 0.4s ease;
  }

  .fonts-loaded .material-symbols-outlined.icon-hidden {
    color: #141625;
  }
</style>

<!-- Navbar animations -->
<script>
  document.fonts.ready.then(() => {
    setTimeout(() => {
      document.body.classList.add('fonts-loaded');
    }, 1000); // 1000 milliseconds = 1 seconds
  });

  document.addEventListener('DOMContentLoaded', () => {
    const menuIcon = document.getElementById('menuIcon');
    const svNavbarCollapse = document.getElementById('svNavbarCollapse');
    const svMenuOverlay = document.getElementById('svMenuOverlay');

    function openMenu() {
      svNavbarCollapse.style.display = 'block';
      svMenuOverlay.style.display = 'block';
      menuIcon.classList.add('active');
      document.body.classList.add('sv-no-scroll');
    }

    function closeMenu() {
      svNavbarCollapse.style.display = 'none';
      svMenuOverlay.style.display = 'none';
      menuIcon.classList.remove('active');
      document.body.classList.remove('sv-no-scroll');

      const allSubmenus = document.querySelectorAll('.sub-menu');
      allSubmenus.forEach(sm => {
        sm.style.display = 'none';
      });
    }

    menuIcon.addEventListener('click', () => {
      if (svNavbarCollapse.style.display === 'block') {
        closeMenu();
      } else {
        openMenu();
      }
    });

    svMenuOverlay.addEventListener('click', () => {
      closeMenu();
    });

    const menuItems = document.querySelectorAll('.sv-menu-prevent-default');
    menuItems.forEach(item => {
      item.addEventListener('click', (e) => {
        if (window.innerWidth < 1070) {
          e.preventDefault();
          const submenu = item.nextElementSibling;
          const chevron = item.querySelector('.chevron');

          if (submenu && submenu.classList.contains('sub-menu')) {
            const isOpen = submenu.style.display === 'block';
            const allSubmenus = document.querySelectorAll('.sub-menu');
            const allChevrons = document.querySelectorAll('.chevron');
            allSubmenus.forEach(sm => sm.style.display = 'none');
            allChevrons.forEach(ch => ch.classList.remove('rotate'));

            if (!isOpen) {
              submenu.style.display = 'block';
              if (chevron) chevron.classList.add('rotate');
            }
          }
        }
      });
    });
  });
</script>
{% comment %} -- end navigation menu code -- {% endcomment %}

{% comment %}
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{% endcomment %}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% comment %} -- start navigation menu code -- {% endcomment %}
<div class="sv-main-wrapper">
  <nav class="sv-navbar">
    <div class="sv-brand-and-icon">
      <a href="https://studioverso.shop" class="sv-navbar-brand">
        <img
          src="https://images.squarespace-cdn.com/content/v1/659ffd5acc33bf3dd5158e2d/1704983965918-ID3E8OFU3KP4KWDIGLRQ/STUDIO-VERSO%CC%84-LOGO-%28Website%29.png"
          alt="STUDIO VERSŌ"
        />
      </a>
      <button type="button" class="sv-navbar-toggler">
        <!-- three bars menu or "x" -->
        <div class="sv-menu-icon" id="menuIcon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>

    <!-- ================ STUDIOS =============== -->
    <div class="sv-navbar-collapse" id="svNavbarCollapse" style="display: none">
      <ul class="sv-navbar-nav">
        <li>
          <a href="https://www.studioverso.ca/" class="menu-link sv-menu-prevent-default">
            <i class="material-symbols-outlined icon-hidden">bolt</i>
            <span class="sv-nav-main-item">&ensp;Studios</span>
            <i class="chevron material-symbols-outlined icon-hidden">expand_more</i>
          </a>
          <div class="sub-menu" style="display: none">
            <!-- item -->
            <div class="sub-menu-item right-divider">
              <h4>Locations</h4>
              <ul>
                <li>
                  <a
                    href="https://www.studioverso.ca/studios"
                    >Our Studios</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.studioverso.ca/st-johns-oleary"
                    >St. John's - O'Leary</a
                  >
                </li>
                <li>
                  <a
                    href="https://studioverso.ca/mount-pearl-glenhill"
                    >Mount Pearl - Glenhill</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item">
              <h4>Programs</h4>
              <ul>
                <li>
                  <a href="https://www.studioverso.ca/barre">Barre</a>
                </li>
                <li>
                  <a href="https://www.studioverso.ca/pilates">Pilates</a>
                </li>
                <li><a href="https://www.studioverso.ca/spin">Spin</a></li>
                <li>
                  <a href="https://www.studioverso.ca/train">Train</a>
                </li>
              </ul>
            </div>
            <div class="sub-menu-item right-divider">
              <h4 class="sv-hidden-h4">&emsp;</h4>
              <ul>
                <li><a href="https://www.studioverso.ca/row">Row</a></li>
                <li><a href="https://www.studioverso.ca/yoga">Yoga</a></li>
                <li style="width: 115%">
                  <a href="https://www.studioverso.ca/recovery">Recovery</a>
                </li>
                <li style="width: 115%">
                  <a href="https://www.studioverso.ca/baby-and-me"
                    >Baby + Me</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item">
              <h4>Experience</h4>
              <ul>
                <li>
                  <a href="https://www.studioverso.ca/instructors"
                    >Instructors</a
                  >
                </li>
                <li style="width: 165%">
                  <a href="https://www.studioverso.ca/adapted-programing"
                    >Adapted Programming</a
                  >
                </li>
                <li style="width: 165%">
                  <a
                    href="https://www.studioverso.ca/private-events-corporate-rates"
                    >Private Events + Corporate Rates</a
                  >
                </li>
                <li>
                  <a href="https://www.studioverso.ca/verso-gives"
                    >VERSŌ Gives</a
                  >
                </li>
                <li>
                  <a href="https://www.studioverso.ca/faq">FAQ</a>
                </li>
              </ul>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item"></div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item">
              <div class="square-div-wrapper">
                <a
                  href="https://www.studioverso.ca/book"
                  class="square-div verso-bike"
                >
                  <span>FIRST CLASS ON US</span>
                </a>

                <a
                  href="https://www.studioverso.ca/book"
                  class="square-div verso-yoga"
                >
                  <span>BUY CLASSES</span>
                </a>
              </div>

              <!-- social icons-->
              <div class="menu-social-icons">
                <a href="https://www.facebook.com/studioversoyyt/" target="_blank" aria-label="Facebook">
                  <i class="bx bxl-facebook-circle"></i>
                </a>
                <a href="https://www.instagram.com/studioversoyyt/" target="_blank" aria-label="Instagram">
                  <i class="bx bxl-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@studioversoyyt" target="_blank" aria-label="TikTok">
                  <i class="bx bxl-tiktok"></i>
                </a>
              </div>
            </div>
            <!-- end of item -->
          </div>
        </li>

        <!-- ================= SHOP ================= -->
        <li>
          <a href="https://studioverso.shop/" class="menu-link sv-menu-prevent-default">
            <i class="material-symbols-outlined icon-hidden">local_mall</i>
            <span class="sv-nav-main-item">&ensp;Shop</span>
            <i class="chevron material-symbols-outlined icon-hidden">expand_more</i>
          </a>
          <div class="sub-menu" style="display: none">
            <!-- item -->
            <div class="sub-menu-item">
              <h4>VERSŌ Wear</h4>
              <ul>
                <li>
                  <a
                    href="https://studioverso.shop/collections/apparel"
                    >Apparel</a
                  >
                </li>
                <li>
                  <a
                    href="https://studioverso.shop/collections/accessories"
                    >Accessories</a
                  >
                </li>
                <li>
                  <a
                    href="https://studioverso.shop/collections/sale"
                    >Sale</a
                  >
                </li>
                <li>
                  <a
                    href="https://studioverso.shop/collections/all"
                    >Shop All</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item">
              <!-- social icons-->
              <div class="menu-social-icons">
                <a href="https://www.facebook.com/studioversoyyt/" target="_blank" aria-label="Facebook">
                  <i class="bx bxl-facebook-circle"></i>
                </a>
                <a href="https://www.instagram.com/studioversoyyt/" target="_blank" aria-label="Instagram">
                  <i class="bx bxl-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@studioversoyyt" target="_blank" aria-label="TikTok">
                  <i class="bx bxl-tiktok"></i>
                </a>
              </div>
            </div>
            <!-- end of item -->
          </div>
        </li>

        <!-- ============== ON DEMAND =============== -->
        <li>
          <a
            href="https://ondemand.studioverso.ca/"
            class="menu-link sv-menu-prevent-default"
          >
            <i class="material-symbols-outlined icon-hidden">play_circle</i>
            <span class="sv-nav-main-item">&ensp;On Demand</span>
            <i class="chevron material-symbols-outlined icon-hidden">expand_more</i>
          </a>
          <div class="sub-menu" style="display: none">
            <!-- item -->
            <div class="sub-menu-item">
              <h4>On Demand</h4>
              <ul>
                <li>
                  <a
                    href="https://ondemand.studioverso.ca/video/"
                    >Video Library</a
                  >
                </li>
                <li>
                  <a
                    href="https://ondemand.studioverso.ca/instructors/"
                    >Instructors</a
                  >
                </li>
                <li>
                  <a
                    href="https://ondemand.studioverso.ca/subscribe/"
                    >Subscribe</a
                  >
                </li>
                <li>
                  <a
                    href="https://ondemand.studioverso.ca/faq/"
                    >FAQ</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item sub-menu-item-no-show-small">&ensp;</div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item sub-menu-item-no-show-small">&ensp;</div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item sub-menu-item-no-show-small">&ensp;</div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item sub-menu-item-no-show-small">&ensp;</div>
            <!-- end of item -->
            <!-- item -->
            <div class="sub-menu-item">
              <div class="square-div-wrapper square-div-wrapper-on-demand">
                <a
                  href="https://ondemand.studioverso.ca/create-an-account/"
                  class="square-div verso-blur"
                >
                  <span>CREATE AN ACCOUNT</span>
                </a>

                <a
                  href="https://ondemand.studioverso.ca/subscribe/"
                  class="square-div verso-weights"
                >
                  <span>SUBSCRIBE</span>
                </a>
              </div>

              <!-- social icons-->
              <div class="menu-social-icons">
                <a href="https://www.facebook.com/studioversoyyt/" target="_blank" aria-label="Facebook">
                  <i class="bx bxl-facebook-circle"></i>
                </a>
                <a href="https://www.instagram.com/verso_ondemand/" target="_blank" aria-label="Instagram">
                  <i class="bx bxl-instagram"></i>
                </a>
                <!-- <a href="https://www.tiktok.com/@studioversoyyt" target="_blank" aria-label="TikTok">
                  <i class="bx bxl-tiktok"></i>
                </a> -->
              </div>
            </div>
            <!-- end of item -->
          </div>
        </li>

        <!-- ============= MAIN SITE ================ -->
        <li class="sv-my-account">
          {% comment %} my account for main website {% endcomment %}
          {% comment %}
          <a href="https://www.studioverso.ca/login" class="menu-link">
            <span class="sv-nav-main-item">MY ACCOUNT</span>
          </a>
          {% endcomment %}

          {% comment %} shopify account {% endcomment %}
          {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset sv-shopify-link" style="margin: 0 8px 0 0 !important; padding: 12px 5px !important;">
              <i class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</i>
              <span class="sv-nav-main-item sv-shopify-nav-main-item">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}
        </li>

        {% comment %} shopify cart {% endcomment %}
        <li class="sv-my-cart">
          <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset sv-shopify-link" id="cart-icon-bubble" style="margin: 0 18px 0 0 !important; padding: 12px 5px !important;">
            {% if cart == empty %}
              <i class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</i>
            {% else %}
              <i class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</i>
            {% endif %}

            <span class="sv-nav-main-item sv-shopify-nav-main-item">Shopping Bag</span>

            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
        </li>

        <li class="sv-book-classes">
          <a
            href="https://www.studioverso.ca/book"
            class="menu-link"
            style="margin: 0"
          >
            <span class="sv-nav-main-item">BOOK CLASSES</span>
          </a>
        </li>

        <!-- ============== SHOPIFY ================= -->

      </ul>
    </div>
  </nav>
</div>
<div id="svMenuOverlay" class="sv-overlay"></div>
{% comment %} -- end navigation menu code -- {% endcomment %}

{%- comment -%}
<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {% if cart == empty %}
            <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
          {% else %}
            <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>
{%- endcomment -%}

{%- comment -%}
{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}
{%- endcomment -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
